@model Model.EF.Bang_DK_DeTai

@{
    ViewBag.Title = "DangKyDeTaiDoAn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h5 style="text-decoration:underline;color:blue; margin-left:10%">Đăng ký đề tài đồ án</h5>
    <hr />
</div>

<div style="text-align:center">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div style="color:red;margin:auto">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>

        <div class="form-group" style="display:none">
            <input id="NguoiDangKy" name="NguoiDangKy" type="hidden" value=@Session["MaSV"] /> Ba
        </div>

        <div class="agile-field-txt">
            <label>
                <span style="margin-right:18px">
                    Chọn Loại đồ án:
                </span>
                @Html.DropDownListFor(model => model.MaLoaiDA, null, new { htmlAttributes = new { @class = "form-control" } })
            </label>
            <label style="margin-left:20px">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span style="margin-right:18px">
                    Tên Đề tài:
                </span>
                <input type="text" id="TenDeTai" name="TenDeTai" placeholder="Nhập tên đề tài " required />
            </label>
        </div>

        <table style="width:100%" class="table">
            <tr>
                <th>
                    <label>
                        Người đăng ký là :
                    </label>
                </th>
                <td>
                    <span style="background-color:deepskyblue">@Session["TenSV"]</span> 
                </td>
                <th>
                    <label> Số thành viên: </label>
                </th>
                <td>
                    <input checked="checked" id="SoLuongThanhVien" name="SoLuongThanhVien" type="radio" value="1" /> Một &nbsp;
                    <input id="SoLuongThanhVien" name="SoLuongThanhVien" type="radio" value="2" /> Hai &nbsp;
                    <input id="SoLuongThanhVien" name="SoLuongThanhVien" type="radio" value="3" /> Ba
                </td>
            </tr>

            <tr>
                <th>
                    <label for="ThanhVien2"> Mã Số thành viên thứ 2 </label>
                </th>
                <td class="hai">
                    <input type="text" id="ThanhVien2" name="ThanhVien2" placeholder="Điền mã sinh viên thứ 2" />
                </td>
                <th>
                    <label for="ThanhVien3"> Mã số thành viên thứ 3 </label>
                </th>
                <td class="hai">
                    <input type="text" id="ThanhVien3" name="ThanhVien3" placeholder="Điền mã sinh viên thứ 3" />
                </td>
            </tr>
        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tiếp theo" class="btn btn-default" style="background-color:lightblue" />
            </div>
        </div>
    }
</div>

<style>
    .table tr {
        border-top: hidden;
    }

    th label {
        text-align: right;
    }

    .table tr td {
        text-align: left;
    }
</style>