
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Areas/Giangvien/Views/Shared/_Layout.cshtml";
}

<div>
    <div><img src="~/Assets/hinhanh/gv.png"/></div> 
    <h4 class="mb-0" style="margin-top:20px; text-align:center">
        Chào mừng bạn đến với hệ thống
    </h4>
    <p style="text-align:center">
        Những tia nắng của ngày hôm nay cho bạn thấy cơ hội mới
        để thực hiện giấc mơ đã ấp ủ bấy lâu. Hãy nắm bắt cơ hội,
        làm việc chăm chỉ và theo đuổi ước mơ của mình nhé.
    </p>
</div>

