@model CongQuanLyDoAn_ThucTap.Areas.Giangvien.Models.Gv_LoginModel
@{
    ViewBag.Tittle = "Đăng nhập| GV";
    Layout = null;
}


<!DOCTYPE HTML>
<html>

<head>
    <title>@ViewBag.Tittle</title>
    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta-Tags -->
    <!-- Stylesheets -->
    <link href="/Assets/DangNhap/GiangVien/css/font-awesome.css" rel="stylesheet">
    <link href="/Assets/DangNhap/GiangVien/css/style.css" rel='stylesheet' type='text/css' />
    <!--// Stylesheets -->
    <!--fonts-->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <!--//fonts-->
</head>

<body>
    <h1>Giảng viên Đăng nhập </h1>
    <div class="clear-loading spinner">
        <span></span>
    </div>
    <div class="w3ls-login box box--big">
        <!-- form starts here -->
        @using (Html.BeginForm("Login", "GV_Login", FormMethod.Post))
        {
            <div style="color:red;margin:auto">
                @Html.ValidationSummary(false, "", "error")
            </div>

            <div class="agile-field-txt">
                <label><i class="fa fa-user" aria-hidden="true"></i> Email </label>
                @Html.TextBoxFor(model => model.MaGV, new { @class = "form-control", @autofocus = "autofocus" })
            </div>
            <div class="agile-field-txt">
                <label><i class="fa fa-unlock-alt" aria-hidden="true"></i> Mật khẩu </label>
                @Html.PasswordFor(model => model.Matkhau, new { @class = "form-control" })
                <div class="agile_label">
                    <input id="check3" name="check3" type="checkbox" value="show password" onclick="myFunction()">
                    <label class="check" for="check3">Hiện mật khẩu</label>
                </div>
                <div class="agile-right">
                    <a href="#">Quên mật khẩu</a>
                </div>
            </div>
            <!-- script for show password -->
            <script>
                function myFunction() {
                    var x = document.getElementById("Matkhau");
                    if (x.type === "password") {
                        x.type = "text";
                    } else {
                        x.type = "password";
                    }
                }
            </script>
            <!-- //end script -->
            <input type="submit" value="Đăng nhập">
        }
    </div>
    <!-- //form ends here -->
</body>
</html>
